---
import ArticleLink from "@components/ArticleLink.astro";
import Navbar from "@components/Navbar.astro";
import Pagination from "@components/Pagination.astro";
import DefaultLayout from "@layouts/Default.astro";

import type { Page } from "astro";
import { CollectionEntry, getCollection } from "astro:content";

export async function getStaticPaths({ paginate }) {
  const limit = 5;

  const posts = await getCollection("articles", e => !e.data.archive);

  const sorted = posts.sort(
    (a, b) => b.data.published.getTime() - a.data.published.getTime()
  );

  return paginate(sorted, { pageSize: limit });
}

interface Props {
  page: Page<CollectionEntry<"articles">>;
}

const { page } = Astro.props;
const number = page.currentPage;

const titleTemplate = (n: number) => (n > 1 ? `Page ${n} - ` : "") + "Blog";
---

<DefaultLayout title={titleTemplate(number)}>
  <div class="my-8">
    <Navbar />

    <div class="mt-8">
      <h1 class="font-bold text-5xl lg:text-6xl">
        <span>Blog</span>
        {number > 1 && <span> &bull; {number}</span>}
      </h1>

      {
        page.data.map(({ data, slug }) => (
          <ArticleLink
            slug={slug}
            title={data.title}
            description={data.description}
            tags={data.tags}
            published={data.published}
          />
        ))
      }

      <Pagination next={page.url.next} previous={page.url.prev} />
    </div>
  </div>
</DefaultLayout>
