---
import ArticleLink from "@components/ArticleLink.astro";
import DefaultLayout from "../layouts/Default.astro";

import { Image } from "astro:assets";
import { getCollection } from "astro:content";

const posts = await getCollection("articles", (e) => !e.data.archive);

const sorted = posts.sort(
  (a, b) => b.data.published.getTime() - a.data.published.getTime(),
);

const latest = sorted.slice(0, 3);

const imageUrl =
  "//s.gravatar.com/avatar/8bf98d1d6ea81a5e467b030a5a0b4798.jpg?s=512";
---

<DefaultLayout
  description="Luke Fisher is a software engineer living and working in Scotland"
>
  <div class="mb-16 lg:my-32">
    <div
      class="flex flex-col md:flex-row-reverse gap-x-16 gap-y-12 md:items-center"
    >
      <div class="flex-grow">
        <Image
          src={imageUrl}
          alt="Luke Fisher"
          width={384}
          height={384}
          class="rounded-full w-32 border-4 border-gray-800 dark:border-gray-200"
        />
      </div>

      <div class="flex flex-col flex-shrink justify-center gap-y-2 font-light">
        <div class="text-3xl lg:text-4xl text-gray-500">
          Hello, I am&hellip;
        </div>

        <h1 class="text-7xl lg:text-8xl font-semibold">Luke Fisher</h1>

        <div class="text-3xl lg:text-4xl text-gray-500 italic">
          Software Engineer
        </div>
      </div>
    </div>
  </div>

  <div>
    <h2 class="text-5xl dark:text-white text-black">
      <a class="underline hover:no-underline" href="/blog" data-astro-prefetch>
        Latest Articles
      </a>
    </h2>

    <div class="my-16">
      {
        latest.map(({ data, slug }) => (
          <ArticleLink
            slug={slug}
            title={data.title}
            description={data.description}
            tags={data.tags}
            published={data.published}
          />
        ))
      }
    </div>
  </div>
</DefaultLayout>
