---
import NameBanner from "@components/NameBanner.astro";
import NavLink from "@components/NavLink.vue";
import Pagination from "@components/Pagination.astro";
import TableOfContents from "@components/TableOfContents.vue";
import Tags from "@components/Tags.vue";
import TimeSince from "@components/TimeSince.vue";
import DefaultLayout from "@layouts/Default.astro";

import { CollectionEntry, getCollection } from "astro:content";

const { post } = Astro.props;

export async function getStaticPaths({}) {
  const posts = await getCollection("articles");

  const data = posts.map((post) => {
    return {
      params: {
        slug: post.slug,
      },
      props: { post },
    };
  });

  return data;
}

interface Props {
  post: CollectionEntry<"articles">;
}

const { title, description, published, tags } = post.data;

const { Content, headings } = await post.render();

const postsAfter = await getCollection("articles", ({ data }) => {
  return data.published.getTime() < post.data.published.getTime();
});

const [after] = postsAfter.sort(
  (a, b) => b.data.published.getTime() - a.data.published.getTime()
);

const postsBefore = await getCollection("articles", ({ data }) => {
  return data.published.getTime() > post.data.published.getTime();
});

const [before] = postsBefore.sort(
  (a, b) => a.data.published.getTime() - b.data.published.getTime()
);
---

<DefaultLayout title={title} description={description}>
  <div class="my-8">
    <NameBanner />

    <div class="mt-8">
      <div class="font-normal text-4xl">
        <NavLink to="/">&lt;</NavLink>
        <NavLink to="/blog">Blog</NavLink>
      </div>

      <div class="my-8">
        <div class="flex leading-none flex-col space-y-2">
          <h1 class="text-4xl">{title}</h1>

          <h2 class="text-lg italic">{description}</h2>

          <Tags tags={tags} />

          <p class="text-gray-500">
            <TimeSince date={published} client:load />
          </p>
        </div>
      </div>

      <div>
        <div class="lg:flex flex-row-reverse">
          <TableOfContents headings={headings} />

          <div class="lg:mr-6 flex-grow content">
            <Content />
          </div>
        </div>

        <Pagination
          next={before ? `/post/${before.slug}` : undefined}
          previous={after ? `/post/${after.slug}` : undefined}
        />
      </div>
    </div>
  </div>
</DefaultLayout>
