---
import ArticleLink from "@components/ArticleLink.astro";
import Navbar from "@components/Navbar.astro";
import Pagination from "@components/Pagination.astro";
import DefaultLayout from "@layouts/Default.astro";

import type { Page } from "astro";
import { CollectionEntry, getCollection } from "astro:content";

export async function getStaticPaths({ paginate }) {
  const limit = 5;

  const posts = await getCollection("articles");

  const map = posts
    .filter((post) => post.data.tags !== undefined)
    .map((post) => {
      return {
        post: post,
        tags: post.data.tags!,
      };
    })
    .reduce((reduced, data) => {
      data.tags.forEach((tag) => {
        const articles = reduced.has(tag) ? reduced.get(tag)! : [];

        articles.push(data.post);

        reduced.set(tag, articles);
      });

      return reduced;
    }, new Map<string, Array<CollectionEntry<"articles">>>());

  return [...map].flatMap(([tag, posts]) => {
    const sorted = posts.sort(
      (a, b) => b.data.published.getTime() - a.data.published.getTime()
    );

    return paginate(sorted, {
      params: { tag },
      pageSize: limit,
    });
  });
}

interface Props {
  tag: string;
  page: Page<CollectionEntry<"articles">>;
}

const { page } = Astro.props;
const number = page.currentPage;

const { tag } = Astro.params;

const titleTemplate = (n: number) => (n > 1 ? `Page ${n} - ` : "") + `Tag - ${tag}`;
---

<DefaultLayout title={titleTemplate(number)}>
  <div class="my-8">
    <Navbar />

    <div class="mt-8">
      <h1 class="font-bold text-5xl lg:text-6xl">
        <span>Tag &bull; {tag}</span>
        {number > 1 && <span> &bull; {number}</span>}
      </h1>

      {
        page.data.map(({ data, slug }) => (
          <ArticleLink
            slug={slug}
            title={data.title}
            description={data.description}
            tags={data.tags}
            published={data.published}
          />
        ))
      }

      <Pagination next={page.url.next} previous={page.url.prev} />
    </div>
  </div>
</DefaultLayout>
