---
const year = new Date().getFullYear();
const commit_sha = import.meta.env.GITHUB_SHA || import.meta.env.CF_PAGES_COMMIT_SHA;
const commit_ref = commit_sha?.substring(0, 7) || "dev";
const commit_url = `${import.meta.env.GITHUB_SERVER_URL}/${import.meta.env.GITHUB_REPOSITORY}/commit/${commit_sha}`;
---
<div class="mt-16 text-gray-300 dark:text-gray-700 font-light">
  &copy; {year} &bull;
  <a target="_blank" href={commit_url}>{commit_ref}</a>
</div>
