---
import socials from "src/_socials.json";

const year = new Date().getFullYear();

const commit_sha = import.meta.env.GITHUB_SHA || import.meta.env.CF_PAGES_COMMIT_SHA || "dev";
const commit_ref = commit_sha.substring(0, 7);
const commit_url = `${import.meta.env.GITHUB_SERVER_URL}/${import.meta.env.GITHUB_REPOSITORY}/commit/${commit_sha}`;
---

<div class="mt-24 mb-8 flex flex-col-reverse sm:flex-row gap-6">
  <div class="flex-grow text-gray-500 font-light">
    &copy; {year}

    &bull; Luke Fisher &bull;

    <a
      class="underline hover:no-underline"
      target="_blank"
      href="https://creativecommons.org/licenses/by/4.0/"
    >
      CC BY 4.0
    </a>

    &bull;

    <a class="underline hover:no-underline" target="_blank" href={commit_url}
      >{commit_ref}</a
    >
  </div>

  <ul class="flex flex-col sm:flex-row list-none gap-2 sm:gap-6 text-xl">
    {
      socials.map(({ link, title }) => (
        <li>
          <a
            href={link}
            rel="me"
            class="underline hover:no-underline"
            target="_blank"
          >
            {title}
          </a>
        </li>
      ))
    }
  </ul>
</div>
